html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

/* dc custom overrides */
body {
    font-size: 16px !important;
    line-height: 2.3rem !important;
    color: #555 !important;
}

figure[itemprop="image"] {
    margin-bottom: 2rem;
}

figure[itemprop="image"] figcaption {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 0.4rem;
}

main {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

main h2 {
    font-size: 3rem;
    margin-top: 3rem;
    line-height: 4rem;
}

main h3 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
}

main li {
    margin-bottom: 0.5rem;
}

table {
    border: solid 1px black;

}

table th {
    white-space: pre;
    background-color: #e6e6e6;
}

table td,
table th {
    padding: 0.5rem 1rem;
}

table tr:nth-child(odd),
table tr:hover {
    background-color: #f9f9f9;
}
