.CodeRay {
  background-color: $code-bg;
  padding: 0px;
  pre {
    padding: 5px 0px 5px 10px;
    border-radius: 0;
  }
}

.CodeRay pre, .CodeRay .highlight, .CodeRay .gist-highlight  {
  background-color: $code-bg;
  border: 0px;
  color: #F8F8F8;
  margin-bottom: 0px;
}

// Nice line numbers
table.CodeRay td {
  padding: 0px;
}
.CodeRay .line-numbers, .CodeRay .no {
  background-color: $line-nb-bg;
  padding-right: 1em;
  pre {
      background-color: $line-nb-bg;
      border: 0px;
      margin: 0px;
  }
}

.CodeRay .line { background-color: $line-nb-bg }
.CodeRay span.line-numbers { padding: 0px 10px 0px 0px }

// As in Sublime editor
// Violet for constants ("Rails")
.CodeRay .constant { color: #9B859D; }
// Blue for predefined-constants ("self")
.CodeRay .predefined-constant { color: #7587A6; font-weight: normal  }

.CodeRay .code {
	text-align: left;
	pre {
		line-height: 1.6;
	}
}

.CodeRay .code,
.CodeRay .line-numbers {
	font-size: 13px;
}

.CodeRay .pseudo-class {
	color: #9393FF;
}

.CodeRay .key {
	color: #E4BEE4;
}

.CodeRay .comment {
	color: #858585;
}

.CodeRay .attribute-name {
	color: #FF7EC3;
}

.CodeRay .attribute-value {
	color: #FF6969;
}

.CodeRay .delimiter {
	color: #988E8E;
}

.CodeRay {
	display: inline-block;
	max-width: 100%;
	overflow-x: scroll;
}


/* ------------------ */
body {
	font-size: 18px;
	margin: 0 auto;
	max-width: 1000px;
}

#content a {
	color: #000000;
	font-family: arial;
}

h3 a:hover {
	color: #0C0049;
}

body a.category {
	color: #477899;
}


body #header {
	margin: 1.5em auto 0em;
	letter-spacing: 0;
}

body #header h1 {
	font-size: 18px;
	letter-spacing: 0.03em;
	padding-left: 0;
	font-weight: 400;
}

body #header a {
   color: #A4B4C4;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   letter-spacing: -0.01em;
}

body #header a:hover {
	color: #3D3F52;
}

body .entry-content video {
	border-radius: 0;
}

.inner {
	width: 100%;
}

#content {
	text-align: center;
}

.meta.date {
	text-align: left;
	color: #8A8B96;
	font-size: 0.85em;
	display: block;
}

body .post .has-image {
	text-align: center;
}

#content .title {
	font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
	letter-spacing: 0.02em;
}

#content .title a {
    font-weight: 200;
	color: #555;
	font-family: inherit;
}


.post {
	padding-top: 5px;

}

.post p {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

table .positive {
	background-color: rgba(194, 255, 194, 0.65);
}

table .negative {
	background-color: rgba(255, 110, 110, 0.65);
}

#footer a {
	color: #1C5894;
	&:hover {
		color: #0067CE;
	}
}


/* disqus */
#disqus_thread iframe #footer,
#disqus_thread .nav-secondary,
#disqus_thread .publisher-nav-color:after,
#conversation > div.nav.nav-secondary {
	display: none;
}

@media screen and (max-width: 1000px) {
	body {
		margin: 0 1em;
	}
	#header {
		h1 {
			margin: 10px auto 5px;
		}
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}
	#header {
		padding-bottom: 0;
	}
	.CodeRay .line-numbers,
	.CodeRay .code {
		font-size: 11px !important;
	}
}


.entry-content {
	table {
		tr {
			td {
				&:first-child {
					padding-left: 3px;
				}
				&:last-child {
					padding-right: 3px;
				}
			}
		}
	}
	figure {
		margin: 1em 0;
		figcaption {
			margin-top: -0.2em;
			margin-left: 0.1em;
			line-height: 1.4em;
			font-size: 80%;
			font-style: italic;
		}

		&.center {
			img {
				display: block;
				margin: 0 auto;
				max-height: 100vh;
				width: auto;
			}

			figcaption {
				margin-top: 0.2em;
				text-align: center;
				line-height: 1.4em;
				font-size: 80%;
				font-style: italic;
			}
		}
	}
}

@media screen and (max-width: 620px) {
	.post .meta .date {
		margin: 0;
		vertical-align: baseline;
	}
}



/* YouTube video embeds */
iframe {
	max-width: 100%;
	margin: 0 auto;
    display: block;
}

#content article header {
	margin: 0.5em 0 1em;
}
