{{ partial "header" . }}

<main role="main" itemscope itemType="https://schema.org/BlogPosting">
    <meta itemprop="mainEntityOfPage" content="{{ .Page.Permalink }}" />
    <meta itemprop="inLanguage" content="en-US" />
    <span itemscope itemprop="author" itemType="https://schema.org/Person">
        <meta itemprop="name" content="David Calhoun" />
        <meta itemprop="url" content="https://www.themaingate.net" />
    </span>
    <span itemscope itemprop="publisher" itemType="https://schema.org/Organization">
        <meta itemprop="name" content="David Calhoun" />
        <meta itemprop="url" content="https://www.themaingate.net" />
        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="https://www.themaingate.net/david-calhoun-logo.png">
            <meta itemprop="width" content="459">
            <meta itemprop="height" content="459">
        </span>
    </span>
    <meta itemprop="image" content="https://www.themaingate.net/david-calhoun-logo.png" />
    {{ if .Params.date }}
    <meta itemprop="datePublished" content={{ dateFormat "2006-01-02T15:04:05Z0700" .Params.date }}/>
    <meta itemprop="dateModified" content={{ dateFormat "2006-01-02T15:04:05Z0700" .Params.date }}/>
    {{ end }}

    {{ partial "single-item" . }}

    <div class="text-justify">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

</main>

{{ partial "footer.html" . }}
