{% if index %}
	<header>
		<h2 class="title" itemprop="headline">
			{% if post.external-url %}
			<a itemprop="url" href="{{ post.external-url }}">
			{% else %}
			<a itemprop="url" href="{{ root_url }}{{ post.url }}">
			{% endif %}
				{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
		</h2>
		<div class="meta date">{% include post/date.html %}{{ time }}</div>
	</header>
	<div class="entry-content" itemprop="articleBody">
		{{ content | excerpt }}
		{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
		{% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
	</div>
{% else %}
	<meta itemprop="inLanguage" content="en-US" />
	<span itemscope itemprop="author" itemType="https://schema.org/Person">
		<meta itemprop="name" content="David Calhoun" />
	</span>
	<span itemscope itemprop="publisher" itemType="https://schema.org/Organization">
		<meta itemprop="name" content="David Calhoun" />
		<meta itemprop="url" content="http://themaingate.net" />
		<meta itemprop="logo" content="http://themaingate.net/david-calhoun-logo.png">
	</span>
	<meta itemprop="image" content="http://themaingate.net/david-calhoun-logo.png">
	<header>
		<h2 class="title" itemprop="headline"><a itemprop="url" href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h2>
		{% include post/date.html %}{{ time }}
	</header>
	<div class="entry-content" itemprop="articleBody">{{ content }}</div>
{% endif %}
