$color-background: #FFFFFF;
$color-main: #960d20;
// $color-gray01: #666;
// $color-gray02: #999;
// $color-gray03: #ccc;
// $color-gray04: #ddd;
// $color-gray05: #fff;

/* http://blog.alestanis.com/2013/02/04/octopress-and-the-twilight-color-scheme */
$code-bg: #141414;
$code-color: #F8F8F8;
$line-nb-bg: #404040;